{% extends "pc/app_base.html" %}

{% block title%} 囤好币 - 透过数据发现高价值币种 {%endblock%}


<!-- nav selection -->
{%block leftnav%}

 {{super()}}

{%endblock%}

<!-- 内容区顶部快速浏览区  -->
    {%block topinfo%}

        {{ super() }}

    {%endblock%}

<!-- content selection -->
{% block body%}

    <!-- 全部币种、和不同站点的价格 -->
    <div class="container-fluid market-content">

    <h4 class="app-h4">行情</h4><span class="app-span">全网数据同步时间 2018-01-30 20:45:04</span>
      <div class="row">
        <div class="col s12">
          <ul class="tabs market-tabs">
            <li class="tab col s2"><a href="#test1" class="active" >综合</a></li>
            <li class="tab col s2"><a  href="#test2">K线(cryptowat)</a></li>
            <!-- <li class="tab col s1"><a href="#test3">币安</a></li>
            <li class="tab col s1"><a href="#test4">火币</a></li>
            <li class="tab col s1"><a href="#test5">gete.io</a></li>
            <li class="tab col s1"><a href="#test6">Bittrex</a></li>
            <li class="tab col s1"><a href="#test7">BigONE</a></li> -->
          </ul>
        </div>
        <!-- all  -->
        <div id="test1" class="col s12">

            <div class="stand-excel">

                <table class="highlight responsive-table striped z-depth-0">
                    <thead>
                        <tr >
                            <th class="stand-excel-th" >币种</th>
                            <th class="stand-excel-th" >最新价格</th>
                            <th class="stand-excel-th" >涨幅(24小时)</th>
                            <th class="stand-excel-th" >流通数量</th>
                            <th class="stand-excel-th" >总发行量</th>
                            <th class="stand-excel-th" >流通市值(万)</th>
                            <th class="stand-excel-th" >24小时交易额</th>
                            <th class="stand-excel-th" >一周波动</th>

                        </tr>
                    </thead>

                <tbody>
                  <tr>
                        <td class="stand-excel-td" ><img class="currency-logo" src="/static/img/currency/btc.png"/>BTC-比特币</td>
                        <td class="stand-excel-td" ><a href="#">¥75432.93</a></td>
                        <td class="stand-excel-td priceup" >+10%</td>
                        <td class="stand-excel-td" >7543万</td>
                        <td class="stand-excel-td" >2100万</td>
                        <td class="stand-excel-td" >11932亿</td>
                        <td class="stand-excel-td" >993.93</td>
                        <td class="stand-excel-td" >暂无</td>
                  </tr>
                    <tr>
                        <td class="stand-excel-td" ><img class="currency-logo" src="/static/img/currency/btc.png"/>BTC-比特币</td>
                        <td class="stand-excel-td" ><a href="#">¥75432.93</a></td>
                        <td class="stand-excel-td priceup" >+10%</td>
                        <td class="stand-excel-td" >7543万</td>
                        <td class="stand-excel-td" >2100万</td>
                        <td class="stand-excel-td" >11932亿</td>
                        <td class="stand-excel-td" >993.93</td>
                        <td class="stand-excel-td" >暂无</td>
                  </tr>
                    <tr>
                        <td class="stand-excel-td" ><img class="currency-logo" src="/static/img/currency/btc.png"/>BTC-比特币</td>
                        <td class="stand-excel-td" ><a href="#">¥75432.93</a></td>
                        <td class="stand-excel-td priceup" >+10%</td>
                        <td class="stand-excel-td" >7543万</td>
                        <td class="stand-excel-td" >2100万</td>
                        <td class="stand-excel-td" >11932亿</td>
                        <td class="stand-excel-td" >993.93</td>
                        <td class="stand-excel-td" >暂无</td>
                  </tr>

                </tbody>
              </table>

            </div>


        </div>
        <div id="test2" class="col s12">

            <div class="container-fluid k-container" id="main">
                <iframe src="https://cryptowat.ch" width="100%" height="100%" frameborder="0" class="k-container-iframe">
                    您的浏览器不支持iframe，请升级
                </iframe>
            </div >
            <p  class="k-container-text">注：本K线数据来自cryptowat.ch</p>


        </div>
        <!-- <div id="test3" class="col s12">Test 3</div>
        <div id="test4" class="col s12">Test 4</div> -->
      </div>



    </div>



{%endblock%}


{%block js%}





{%endblock%}

