
<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <title>{%block title%} {# 填充标题 #} {%endblock%}</title>

    <!-- 网站小图标 -->
    <link rel="icon" href="../static/img/favicon.ico" mce_href="../static/img/logo/v2_favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="../static/img/favicon.ico" mce_href="../static/img/favicon.ico" type="image/x-icon">

    <!-- seo -->
    <meta content="pass" name="keywords">
    <meta content="pass" name="description">

    <!-- css导入 -->
    <link rel="stylesheet" href="/static/materialize/css/materialize.css">
    <link rel="stylesheet" href="/static/app_css/app.css">


    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

</head>
<body>




    <!-- 导航 -->

    <!-- 引入组件 -->

    {% import '/pc/app_component.html' as app %}

    <!-- 导航 -->
    {%block leftnav%}

        {{ app.all_left_nav(title="课程标题",description="课程副标题") }}

    {%endblock%}

    <!-- 内容区顶部快速浏览区  -->
    {%block topinfo%}

        {{ app.topinfo(BTC="price",ETH="price") }}


    {%endblock%}



    <!-- 内容 -->
    {%block body%}




    {%endblock%}


    <!-- 自定义JS -->
    {%block js%}


    {%endblock%}

    <!--JavaScripts ========================== -->
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/materialize/js/materialize.min.js"></script>

</body>
</html>