{% extends "pc/base.html" %}

{% block title%} jobstat - IT职位数据统计分析站点 {%endblock%}


{% block body%}

<body>
        <div class="main-wrapper-first relative">
            <header>
                <div class="container">
                    <div class="header-wrap">
                        <div class="header-top d-flex justify-content-between align-items-center">
                            <div class="logo">
                                <a href="/index"><img class="jobstat-logo" src="/static/img/jobstat.png" alt=""></a>
                            </div>
                            <div class="main-menubar d-flex align-items-center">
                                <nav class="hide">
                                    <a href="/index">首页</a>
                                    <a href="/summary">职位聚合</a>
                                    <a href="/about">关于</a>
                                </nav>
                                <div class="menu-bar"><span class="lnr lnr-menu"></span></div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="banner-area">
                <div class="container">
                    <div class="row justify-content-center generic-height align-items-center">
                        <div class="col-lg-8">
                            <div class="banner-content text-center">
                                <h2 class="text-white">热门职业</h2>
                                <p class="mb-0 mt-10 text-white">pass</p>
                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <!-- Start Sample Area -->
            <section class="sample-text-area">
                <div class="container">
                    <h5 class="text-heading">Developer and Devops</h5>
                    <p class="sample-text"></p>
                    <!-- dev职位表 -->
                    <div class="container">
                        <div class="row">
                            <div class="jobs-position col-md-3">
                                <a href="" class="jobs-links">
                                    <img src="/static/img/jobs/webfrontend.jpeg" alt="" class="jobs-img">
                                    <p class="jobs-name">Web前端工程师</p>
                                </a>

                            </div>
                            <div class="jobs-position col-md-3">
                                <a href="" class="jobs-links">
                                    <img src="/static/img/jobs/backend.png" alt="" class="jobs-img">
                                    <p class="jobs-name">Web后端工程师</p>
                                </a>
                            </div>
                            <div class="jobs-position col-md-3">
                                <a href="" class="jobs-links">
                                    <img src="/static/img/jobs/c.jpg" alt="" class="jobs-img">
                                    <p class="jobs-name">C++工程师</p>
                                </a>
                            </div>
                            <div class="jobs-position col-md-3">
                                <a href="" class="jobs-links">
                                    <img src="/static/img/jobs/devops.jpg" alt="" class="jobs-img">
                                    <p class="jobs-name">运维开发工程师</p>
                                </a>
                            </div>

                        </div>
                    </div>
                
                    <h5 class="text-heading">Product and Operation</h5>
                    <p class="sample-text"></p>
                    <!-- dev职位表 -->
                    <div class="container">
                        <div class="row">
                            <div class="jobs-position col-md-3">
                                <a href="" class="jobs-links">
                                    <img src="/static/img/jobs/python.png" alt="" class="jobs-img">
                                    <p class="jobs-name">产品经理</p>
                                </a>

                            </div>
                            <div class="jobs-position col-md-3">
                                <a href="" class="jobs-links">
                                    <img src="/static/img/jobs/python.png" alt="" class="jobs-img">
                                    <p class="jobs-name">Python工程师</p>
                                </a>
                            </div>
                            <div class="jobs-position col-md-3">
                                <a href="" class="jobs-links">
                                    <img src="/static/img/jobs/python.png" alt="" class="jobs-img">
                                    <p class="jobs-name">Python工程师</p>
                                </a>
                            </div>
                            <div class="jobs-position col-md-3">
                                <a href="" class="jobs-links">
                                    <img src="/static/img/jobs/python.png" alt="" class="jobs-img">
                                    <p class="jobs-name">Python工程师</p>
                                </a>
                            </div>

                        </div>
                    </div>

                </div>
            </section>
            <!-- End Sample Area -->


            <!-- Start footer Area -->
            <footer class="footer-area">
                <div class="container">
                    <div class="footer-content d-flex flex-column align-items-center">
                        <div class="copy-right-text text-white">Copyright &copy; 2018 All rights reserved</div>

                    </div>
                </div>
            </footer>
            <!-- End footer Area -->
        </div>

    </body>




{%endblock%}





{% block js %}

{%endblock%}